<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@100&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"
    />
    <link rel="stylesheet" href="css/style.css" type="text/css" />
    <!-- JavaScript Bundle with Popper -->

    <title>Document</title>
  </head>

  <body>
    <!-- <section class="banner">
      <img src="images/banner3.webp" alt="Banner de ofertas" />
    </section> -->

    <%- include('./partials/header.ejs') %>


    <!-- Carousel -->
    <div
      id="carouselExampleControls"
      class="carousel slide"
      data-bs-ride="carousel"
    >
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="/images/summa1.png" class="d-block w-100" alt="img1" />
        </div>
        <div class="carousel-item">
          <img src="/images/summa2.png" class="d-block w-100" alt="img2" />
        </div>
        <div class="carousel-item">
          <img src="/images/summa1.png" class="d-block w-100" alt="img3" />
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleControls"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>

    </div>


    <%- include('./partials/footer.ejs') %>

    <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleControls"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
  </body>
</html>

<!-- 

-Carrito de compras- julian 
-Home - todos s
-Register - Andrea 
-Login - Andrea
-Datalles de prodcuto- Geo

 -->

<!-- 
     paleta de colores corporativos summa

     (186,212,5)


     paleta de colores
     background-color: #a3b89d;
     background-color: #647262;
     background-color: #557462;
     background-color: #949494;
     rgba(85, 116, 96, 1), rgba(85, 116, 96, 0.8))

  -->
