header{
  width: 96%;
  max-width: 960px;
  margin: 0 auto;
}
.header {
  height: 35vh;
  background-size: cover;
  background-image: linear-gradient(
      to right bottom,
      rgba(175, 179, 180, 0.8),
      rgba(99, 99, 100, 0.8)
    ),
    url('https://ae01.alicdn.com/kf/Hd8ccde589995480c8c17ee34f24d3e38s/Decoration-Maison-Nordic-Black-White-Stripes-Wall-Papers-Home-Decor-Minimalist-Ins-Geometric-Wallpaper-for-Living.jpg_Q90.jpg_.webp');
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 52% 100%);
}

h6{
  font-size: medium;
}

 .container2 {
    background-color: #f2f2f2;
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgrey;
    border-radius: 3px;
    
} 
.fa-paper-plane:before {
  content: "\f1d8";
}
.somos{
  height: auto;
  width: 70%;
  font-size: small;
}

.brand-box {
  position: absolute;
  top: 40px;
  left: 40px;
}

.brand {
  font-size: 20px;
  top: 5%;
}
.brand-box{
  top: 10%;
  text-align: center;
  left: 50%
}

.text-box {
  position: absolute;
  top: 25%;
  left: 70%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;

  backface-visibility: hidden;
  margin-bottom: 30px;
}

.heading-primary-main {
  display: block;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 5px;
}

.heading-primary-sub {
  display: block;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 7.4px;
}

.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px 20px;
  display: inline-block;
  border-radius: 100px;
  transition: all 0.2s;
  position: relative;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
  background-color: #fff;
  color: #777;
  font-size: 14px;
}

/*  navegation bar  */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
/* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
} */

.menubar {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  width: 80%;
}
.navMenu {
  text-align: center;
}

.navMenu a {
  color: #504c35;
  text-decoration: none;
  font-size: 80%;
  font-weight: 200;
  width: 80px;
  /* -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; */
}

.navMenu a:hover {
  color: #727272;
}

.navMenu .dot {
  width: 6px;
  height: 6px;
  background: #1d1c1b;
  border-radius: 50%;
  opacity: 0;
  -webkit-transform: translateX(30px);
  transform: translateX(30px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.navMenu a:nth-child(1):hover ~ .dot {
  -webkit-transform: translateX(30px);
  transform: translateX(30px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(2):hover ~ .dot {
  -webkit-transform: translateX(110px);
  transform: translateX(110px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(3):hover ~ .dot {
  -webkit-transform: translateX(200px);
  transform: translateX(200px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(4):hover ~ .dot {
  -webkit-transform: translateX(285px);
  transform: translateX(285px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}
/* navegation bar */
