
*    {
    font-family: 'Franklin', sans-serif;
}

/* header*/

.fa-id-card{
    color: #647262;
    position:absolute;
    right:50px
}
.fa-basket-shopping-simple{
    color: #647262;
    position:absolute;
    right:50px
}
.fa-sign-in-alt{
    color: #647262;
    position:absolute;
    right:50px
}
section img{
    width:100%;

}

/*   paleta de colores corporativos summa

 (186,212,5)


 paleta de colores
 background-color: #a3b89d;
 background-color: #647262;
 background-color: #557462;
 background-color: #949494;
 rgba(85, 116, 96, 1), rgba(85, 116, 96, 0.8)) 
 
#e5f5f9
#99d8c9
#2ca25f

*/
