*{
  font-family: 'Franklin', sans-serif;
  box-sizing: border-box;
  }
  /* article{
    display: flex;
  } */
  body{
    align-items: center;
  }
  .detalles-compra{
    align-items: row;
  }
.row{
  width: 96%;
  max-width: 960px;
  margin: 0 auto;
  display: inline-block;

}
.col-12-col-lg-8{
  align-content: center;
  width: 100%;
  height: auto;
  border: 10px rgb(174, 168, 168);
}

.product-detail{
  padding: 30px;
  padding-top: 30px;
}
.container-products-wrapper{
  padding: 10px;
  padding-top: 10px;
  display: flexbox;
}
.product-detail-info{
  width: 100%;
  height: auto;
  align-content:stretch;
}

img {
  height: auto;
  max-width: 70%;
  }

  .product-detail-description{
    height: auto;
    max-width: 70%;
  }
form{
  display: flex;
  flex-direction: column;
  width: 60%;
  text-align: left;
}
#nav ul {
display:contents;
} 

.boton-editar-comrpa{
  flex-direction: row;
  padding-left: 20px;
  padding-right: 20px;
  background-color: rgb(171, 169, 169);
  border: 3px solid gray;
  height: auto;
  max-width: 50%;
  height: auto;
    width: 60%;
    font-size: small;
}
								
.buy-now-button{
  flex-direction: row;
  padding-left: 20px;
  padding-right: 20px;
  background-color: rgb(171, 169, 169);
  border: 3px solid gray;
  height: auto;
  max-width: 70%;
  height: auto;
    width: 100%;
}
.boton-eliminar{
  margin:20px;
}
button .action-button-delete{
  margin-top: 30px;
  background-color: rgb(95, 98, 97);
  align-items: center;
}
.editar-compra{
  height: auto;
  width: 70%;
  flex-direction: row;
  padding-left: 20px;
  padding-right: 20px;
  background-color: gray;
  border: 2px solid gray;
  height: auto;
  max-width: 40%;
}
/* version tablet */
@media (min-width: 391px) {
  form{
      display: flex;
      flex-direction: column;
      width: 60%;
      text-align: left;
  }
  #nav ul {
    display:contents;
  } 
} 

/* version desktop*/
@media (min-width: 769px) {
  form{
      display: flex;
      flex-direction: column;
      width: 60%;
      text-align: left;
  }
  .product-detail{
    display:flex;
    flex-direction: column;

  }
  .col-12-col-lg-4{
    border-top: 3px solid gray;
    width: 100%;
    height: auto;
    align-content:center
  }
  .buy-now-button{
    height: auto;
    width: 100%;
    flex-direction: row;
    padding-left: 20px;
    padding-right: 20px;
    background-color: gray;
    border: 3px solid gray;
    height: auto;
    max-width: 70%;
  }
}
/* Footer */
@media (min-width: 769px) {
  .footer-web {
    display: initial;
  } 
  .product-detail{
    display:inline-flex
  }
  .buy-now-button{
    flex-direction: row;
    padding-left: 20px;
    padding-right: 20px;
    background-color: gray;
    border: 3px solid gray;
    height: auto;
    max-width: 70%;
  }
}