<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <footer>
      <section class="footer-web">
        <article>
          <i class="fa-solid fa-credit-card"></i>
          <h4>Realiza tu compra con pagos flexibles</h4>
          <p>
            Contacta con tu vendedor Summarket para consultar medios de pago.
            Consulta con la compañía la opción de libranza
          </p>
        </article>

        <article>
          <i class="fa-solid fa-thumbs-up"></i>
          <h4>Apoyo a los emprendimientos</h4>
          <p>
            ¡En Summarket apoyamos tus emprendimientos sin cobros o comisiones
            de intermediación!
          </p>
        </article>

        <article>
          <i class="fa-solid fa-user-group"></i>
          <h4>De Summa para Summa</h4>
          <p>
            Queremos que puedas exponer ese emprendimiento que pensaste no sería
            exitoso al público para que más personas conozcan tus productos
          </p>
        </article>
        <h4>Copyright © 2022 Summarket</h4>
      </section>

      <section class="footer-mobile">
        <article>
          <h3>Pagar</h3>
        </article>
      </section>
    </footer>

<!--     
    <footer>
      <div>
        <h3>¡Realiza tu compra!</h3>
        <div>
          Contacta con tu vendedor Summarket para consultar medios de pago.
          Consulta con la Compañía la opción de libranza
        </div>
        <div>
          ¡En Summarket apoyamos tus emprendimientos sin cobros o comisiones de
          intermediación!
        </div>
      </div>
    </footer> -->
  </body>
  </body>
</html>
