<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css" type="text/css" />
    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <header>
      <section>
        <img src="images/summa2.png" alt="Banner de ofertas" />
      </section>

      <section>
        <div class="memubar">
          <div id="navegador">
            <ul>
              <li><a href="/register">Crea tu cuenta </a></li>
              <li><a href="/login">Ingresa </a></li>
              <li><a href="/productCart"> Carrito de compras</a></li>
              <li><a href="/productDetail"> Detalle de productos</a></li>
            </ul>
          </div>
        </div>
      </section>

      <section>
        <div id="nav">
          <ul>
            <li><a href="#">Ofertas</a></li>
            <li><a href="#">Tiendas Oficiales</a></li>
            <li><a href="#">Vender</a></li>
            <li><a href="#">Ayuda</a></li>
          </ul>
        </div>
      </section>

      <section class="banner">
        <img src="images/banner3.webp" alt="Banner de ofertas" />
      </section>

      <div class="categorias">
        <h3>Categorias</h3>

        <div class="burger-menu">
          <i class="fa fa-bars burger"></i>
        </div>
      </div>

      <div class="resaltado">
        <h3>Articulos resaltado (de la semana o del mes)</h3>
      </div>

      <div class="promociones">
        <h3>promociones</h3>
      </div>

      <div class="carrousel">imagenes rotativas</div>
      <h3>¿Quieres ver mas?</h3>
    </header>
  </body>
</html>
