<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"
    />
    <link rel="stylesheet" href="/css/styleLogin.css" type="text/css" />
    <title>Login</title>
  </head>
  <body>
    <%- include('../partials/header.ejs') %>
    <main>
      <section class="login">
        <form action="/users" method="POST">
          <h3 class="ingreso">Entrar</h3>
          <div class="col-12 col-md-6">
            <label for="emailLogin" class="form-label"
              >Correo Electronico:</label
            >
            <input
              type="text"
              id="emailLogin"
              name="emailLogin"
              placeholder="Ej: micorreo@gmail.com"
              class="form-input"
            />
          </div>
          <div class="col-12 col-md-6">
            <label for="passwordLogin" class="form-label">Contraseña:</label>
            <input
              type="password"
              id="passwordLogin"
              name="passwordLogin"
              placeholder="Ingresa tu contraseña"
              class="form-input"
            />
          </div>

  
        <p>
            <A HREF="../register">  ¿Has olvidado su contraseña? </A>
        </p>
    
    </br>
        <button type="submit" class="botones"> Ingresar</button>
        <button type="submit" class="botones"> Registrarse</button>
    </br>

    <p>
         <A HREF="../users/register"> ¿No tienes cuenta? </A> 
    </p>
    
</form>

</section>
</main >

<section class="login">
<%- include('../partials/footer.ejs') %>
</section>
</body>
</html>
