<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="css/stylelog.css" type="text/css">
    <title>Login</title>
</head>
<body>
    <%- include('../partials/header.ejs') %>
<main> 
<section> 
    <form action="/users" method="POST">
        
        <h3 class="ingreso">
            Entrar
        </h3>
        <div class="col-12 col-md-6">

            <label for="email" class="form-label">Correo Electronico:</label>
            <input
              type="text"
              id="email"
              name="email"
              placeholder="Ej: micorreo@gmail.com"
              class="form-input"
            />
        </div>
        <div class="col-12 col-md-6">
            <label for="password" class="form-label">Contraseña:</label>
            <input
              type="password"
              id="password"
              name="password"
              placeholder="Ingresa tu contraseña"
              class="form-input"
            />
          </div>

  
        <p clas="olvidado tu contraseña">
            <A HREF="../register">  ¿Has olvidado su contraseña? </A>
        </p>
    </br>
        <button type="submit"> Ingresar</button>
        <button> Registrarse</button>
    </br>
         <A HREF="../register"> ¿No tienes cuenta? </A> 
   
    </form>

</section>
</main>
<%- include('../partials/footer.ejs') %>
</body>
</html>