<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@100&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"
    />
    <link rel="stylesheet" href="css/style.css" type="text/css" />
    <title>Document</title>
  </head>

  <body>
    <%- include('./partials/header.ejs') %>
    <section class="banner">
      <img src="images/banner3.webp" alt="Banner de ofertas" />
    </section>

    <div class="categorias">
      <h3>Categorias</h3>

      <div class="burger-menu">
        <i class="fa fa-bars burger"></i>
      </div>
    </div>

    <div class="resaltado">
      <h3>Articulos resaltado (de la semana o del mes)</h3>
    </div>

    <div class="promociones">
      <h3>promociones</h3>
    </div>

    <div class="carrousel">imagenes rotativas</div>
    <h3>¿Quieres ver mas?</h3>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>

<!-- 

-Carrito de compras- julian 
-Home - todos s
-Register - Andrea 
-Login - Andrea
-Datalles de prodcuto- Geo

 -->

<!-- 
     paleta de colores corporativos summa

     (186,212,5)


     paleta de colores
     background-color: #a3b89d;
     background-color: #647262;
     background-color: #557462;
     background-color: #949494;
     rgba(85, 116, 96, 1), rgba(85, 116, 96, 0.8))

  -->
