<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"
    />
    <!-- <link rel="stylesheet" href="/css/carts.css" /> -->

    <title>Carrito de Compras</title>
  </head>
  <body>
    <header><%- include('../partials/header'); %></header>

    <main class="mt-5 pt-4">
      <div class="container wow fadeIn animated">
        <h2 class="mt-5 mb-3 h2 text-center">Productos en mi carrito</h2>
        <div class="card my-5">
          <div class="card-body">
            <table class="table table-responsive-md mb-0">
              <thead>
                <tr>
                  <th style="width: 50px">
                    <strong>#</strong>
                  </th>
                  <th class="th-lg">
                    <strong>Producto</strong>
                  </th>
                  <th class="th-lg">
                    <strong>Precio</strong>
                  </th>
                  <th class="text-center">
                    <strong>Cantidad</strong>
                  </th>
                  <th class="text-center">
                    <strong>Subtotal</strong>
                  </th>
                  <th style="width: 50px"></th>
                </tr>
              </thead>
              <tbody class="cartRows"></tbody>
            </table>
            <div class="card-footer text-right">
              <h2>Total: <span class="totalAmount">$ 0</span></h2>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header text-center">Terminar la compra</div>
          <form class="card-body" id="checkoutCart">
            <div class="row">
              <div class="col-md-6 mb-4">
                <label for="shippingMethod">Tipo Envio</label>
                <select
                  class="custom-select d-block w-100"
                  id="shippingMethod"
                  name=" shippingMethod"
                  required=""
                >
                  <option value="">Elegir...</option>
                  <option value="Servientrega">Servientrega</option>
                  <option value="Interrapidisimo">Interrapidisimo</option>
                  <option value="Recoger">Quiero recoger mi producto</option>
                </select>
                <div class="invalid-feedback">Elija un tipo de envio.</div>
              </div>
              <div class="col-md-6 mb-4">
                <label for="paymentMethod">Pago</label>
                <select
                  class="custom-select d-block w-100"
                  id="paymentMethod"
                  name="paymentMethod"
                  required=""
                >
                  <option value="">Elegir...</option>
                  <option value="Efectivo">Efectivo - Contra Entrega</option>
                  <option value="Débito">PSE</option>
                  <option value="Crédito">Tarjeta Crédito</option>
                </select>
                <div class="invalid-feedback">Elija un tipo de envio.</div>
              </div>
              <div class="col-md-6 mb-4">
                <label for="shipping_address">Dirección de envio</label>
                <input
                  type="text"
                  id="shipping_address"
                  name="shipping_address"
                />
              </div>
            </div>
            <button
              class="btn btn-primary btn-lg btn-block waves-effect waves-light"
              type="submit"
            >
              Comprar
            </button>
          </form>
        </div>
      </div>
    </main>

    <footer><%- include('../partials/footer'); %></footer>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
      integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
      integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz"
      crossorigin="anonymous"
    ></script>
    <script src="/js/productCart.js"></script>
    <script src="/js/cart.js"></script>
  </body>
</html>
