<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Summarket - Produto</title>
    <link href="/css/styleProductDetail.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <script
      src="https://kit.fontawesome.com/a3ef6331ff.js"
      crossorigin="anonymous"
    ></script>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@100&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"
      rel="stylesheet"
    />
  </head>

  <body>
    <%- include('../partials/header.ejs') %>

    <main>
    <div class=botonHome><a href="/"> <i class="fa-solid fa-house"></i> </a>Detalle de Producto </div>
      <section class="last-visit">
        <div class="products">
          <h3 class="description1">Moto XYZ Blanca 400cc</h3>
          <article>
            <div class="infoProduct">
              <p class="price">$14.700.000</p>
              <p class="description2">
                Moto XYZ, color blanco, cilindrada 400 CC, documentación al
                día, modelo 2019, 4.200 KM, sin infracciones ni reclamaciones en
                aseguradora por colisiones.
              </p>
            </div>
            <div class="productImage">
              <img src="images/03_Prod_motoBlanca.jpg" alt="motoBlanca"/>
            </div>
          </article>
        </div>

        <div class="productQuantity">
        <div class="select-dropdown select-dropdown-productQuantity">
        <select id="productQuantity" class="form-control form-control-lg hidden-md-up d-md-none" data-available-stock="6">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
        </select>
        <button class="form-control form-control-lg select-dropdown-button select-dropdown-button-product-quantity hidden-sm-down d-none d-md-block" data-value="">
          <span class="select-dropdown select-dropdown-product-quantity" id="selected-option-product-quantity">1</span>
        </button>
       <ul class="select-dropdown-list select-dropdown-list-product-quantity" id="select-dropdown-list-product-quantity"></ul></div>
        </div>



        <div class="botones">
        <div class="boton">
            <button class="botonAgregar">
              <a href="/productCart"> Agregar al carrito</a>
            </button>
        </div>
        <div class="boton">
          <button class="botonCarrito">
            <a href="/productCart"> Comprar ahora</a>
          </button>
        </div>
        </div>
      </section>

      <section>
        <div class="destacadoProducto">
          <h4>Destacado del Producto</h4>
          <p>"Datos relevantes adicionales del producto a vender"</p>
          <p></p>
        </div>
      </section>

      <section class="resenaProducto">
        <h4>Reseñas del Producto</h4>
        <p>"Comentarios y reseñas relevantes del producto a vender</p>
        <p></p>
      </section>

      <section class="productoRelacionado">
        <h4>Productos Relacionados</h4>
        <p>"Imágenes de productos relacionados"</p>
        <p></p>
      </section>
    </main>
    <%- include('../partials/footer.ejs') %>
</html>
